.main_sectionCountry {
  @include size(100%, 100%);
  @include display-flex(space-around, center) {
    flex-wrap: wrap
  };

  .main_sectionCountry-figure {
    @include size(100%, 100%);
    @include tablet() {
      @include size(50%, 100%);
    };

    .main_sectionCountry-figure-image {
      @include size(100%, 100%);
      box-shadow: 0 0 .5rem $black;
    }
  }

  .main_sectionCountry-article {
    @include size(100%, auto);
    padding: 2rem;
    @include tablet() {
      @include size(50%, 100%);
    };

    .main_sectionCountry-article-list {
      @include size(100%, 100%);
      @include display-flex(center, flex-start) {
        flex-direction: column;
      };

      .main_sectionCountry-article-list-item {
        font-size: 2.5rem;
        @include tablet() {
          font-size: 3vw;
        };
      }
    }
  }
}